h1{
	@extend .uppercase;
	color: $text-light;
	font-size: 40px;
	&.big{
		font-size: 60px;
	}
}


h3{
	@extend .uppercase;
	font-weight: 700;
	font-size: 14px;
	&.dark{
		color: $text-dark;
	}
	&.light{
		color: $text-light;
	}
}

p{
	color: $p;
}

body{
}
.padding_top_40{
	padding-top: 40px;
}

.padding_top_70{
	padding-top: 70px;
}

.padding_top_100{
	padding-top: 100px;
}

.padding_bottom_70{
	padding-bottom: 70px;
}

.padding_bottom_100{
	padding-bottom: 100px;
}

.margin_top_25{
	margin-top: 25px;
}

.margin_top_80{
	margin-top: 80px;
}

.no_margin_bottom{
	margin-bottom: 0;
}

.margin_bottom_25{
	margin-bottom: 25px;
}

.margin_bottom_40{
	margin-bottom: 40px;
}

.margin_bottom_70{
	margin-bottom: 70px;
}

.uppercase{
	text-transform: uppercase;
}

.transition{
	transition: all 500ms ease-in-out;
}

.bg_purple{
	background-color: $client-bg;
}

.clearfix{
	content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.bg_blue{
	background-color: $bg-blue;
}

.location{
	color: $location;
	font-size: 14px;
	font-weight: 400;
}